@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500&display=swap');

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', 'Montserrat',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #f9eae1;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', 'Montserrat',
    monospace;
}

.error-message {
  color: #721c24;
  background-color: #f8d7da;
  border-color: #f5c6cb;
  width: 80%;
  padding: 3px;
  margin-bottom: 1rem;
}

.success-message {
  color: #155724;
  background-color: #d4edda;
  border-color: #c3e6cb;
}


.navbar-container {
  display: flex;
  flex-direction: row;
  // background-color: #7d4f50;
  background-color: #005C6E;
}

.navbar-light {
  background-color: #005C6E !important;
}

.btn.btn-outline.my-2.my-sm-0{
  color: white;
  border: white solid 1px;
}


.navbar-light .navbar-brand {
  color: #030200;
}

ul {
  list-style-type: none;

  li {
    display: inline;
    padding: 1rem;
  }
}



a {
  
  text-decoration: none;
}

nav a {
  color: white;
  font-weight: 700;
}

a:hover {
  text-decoration: none;
  color: #cc8b86;
}

.navbar-nav .selected {
  background-color: #19323c;
}

.nav-item:has(.selected) {
  background-color: #19323c;
}

// .fandom-categories-container {
//   display: grid;
//   grid-template-columns: 1fr 1fr;
//   width: 44%;
  
// } 

.main-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: 100%;
}

.fandom-categories-container {
  display: flex;
  flex-direction: column;
  border-right: rgba(94, 94, 94, 0.2) 2px solid;
  width: 60%;
  margin-top: 3rem;
  padding-bottom: 2rem;
}

.fandom-category-header {
  color: #F0616E;
  margin-bottom: 2rem;
  margin-left: 2rem;
}

.fandom-category-item {
  margin-bottom: 1rem;
  margin-left: 2rem;
}

// .fandom-category-item {
//   margin: 0.7rem;
//   border: solid 1px #aa998f;
//   padding: 0.8rem 0.7rem 0.8rem 0.7rem;
// }

.fandom-category-item a {
  color: #005C6E;
  font-weight: 700;
  font-size: 1.2rem;
}

.new-block {
  display: inline;
}




// works list

.works-by-fandom-container {
  margin-top: 2rem;
}

.col.work-card {
  background-color: #d8e7e8;
  margin: 1rem 0 1rem 5%;
  max-width: 13%;
  border: 0.5px solid #e6dede;
  border-right: none;

  .svg-inline--fa {
    // font-size: 4rem;
    border-radius: 18px;
    background-color: white;
    padding: 12px;
    margin-left: 77%;
    margin-top: 10px;
  }
}



.work-rate {
  font-size: 0.9rem;
  font-weight: 600;
  margin: 0.5rem 0 0.5rem 0;
  width: 100%;
  padding: 5px 0;
  
}

.work-status-finished {
  color: #55a630;
  margin-top: 1.2rem;
}

.work-status-process {
  color: #99170e;
  margin-top: 1.2rem;
}

.work-date {
  margin: 1rem 0;
  font-size: 0.9rem;
}

.work-rate, .work-status-finished, .work-status-process, .work-date {
  text-align: right;
}



.col-md.work-container {
  padding-left: 25px;
  padding-top: 16px;
}

.work-container {
  border: solid 1px #e6dede;
  border-left: none;
  padding: 0.5rem;
  margin: 1rem 20% 1rem 0;
}

.work-title {
  color: #7d4f50;
  a {
    color: #7d4f50;
    text-decoration: underline;
  }
}

.badge.relationship-and-character-tag {
  border-radius: 94px;
  background-color: #f1e2c8;
  padding: 8px 10px;
  margin-right: 5px;
}

.work-description {
  border-bottom: dashed 0.5px #aa998f;
  margin-bottom: 1rem;
  padding-bottom: 0.7rem;
  margin-top: 1rem;
}


// work main page

.row.work-information-card {
  margin: 2rem;
  .badge {
    font-size: larger;
    margin-right: 5px;
  }
  .work-description {
    border-bottom: dashed 0.5px #aa998f;
    margin-bottom: 1rem;
    padding-bottom: 0.7rem;
    margin-top: 2rem;
  }

  h6 {
    margin-top: 1rem;
  }
}

.row.work-content {
  margin: 2rem;
}

.information-container {
  width: 75%;
}
// categories

.gen{
  background-color: #e8d7f9;
  font-size: large;
}

.ff {
  background-color: #ffe5e4;
}

.fm {
  background-color: #e4ffd7;
}

.mm {
  background-color: #dae8ff;
}

.multy {
  background-color: #fff2d0;
}

.other {
  background-color: #f1f5ff;
}



// rates

.not-rated {
  background-color: #eddcd2;
}

.general-audiences {
  background-color: #92ec00;
}

.teen-up {
  background-color: #ffee21;
}

.mature {
  background-color: #ffa175;
}

.explicit {
  background-color: #f72011;
}

.badge.work-status-finished {
  color: #55a630;
  background-color: #f0efeb;
  // margin-top: 1.2rem;
}

.badge.work-status-process {
  color: #99170e;
  background-color: #f0efeb;
  font-size: large;
  // margin-top: 1.2rem;
}


.svg-inline--fa {
  
  
}

.fa-2x {
  font-size: 1.2rem;
}

.d-flex {
  margin-top: 2rem;
}

// chapter

.btn.next {
  background-color: #7d4f50;
  color: white;
  margin: 1rem;
}

.chapter-text {
  margin-left: 15%;
  
}

.user-info-container {
  display: flex;
  padding: 1rem;
  margin: 2rem;
  box-shadow: 4px 4px 10px rgba(122, 122, 122, 0.2);

}

.user-pic {
  border: #7d4f50 3px solid;
  width: 85px;
  height: 85px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 2rem;
}


.user-info {
  display: flex;
  flex-direction: column;
  margin-left: 2rem;
}

.user-img {
  width: 55px;
  height: 55px;
  color: #7d4f50;
  
}


// Authorization

.main {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.authorization-container {
  display: flex;
  flex-direction: column;
  min-height: 65vh;
  min-width: 35%;
  background-color: lavender;
  box-shadow: 6px 6px 20px rgba(122, 122, 122, 0.2);
  border-radius: 5px;
}

.login-header {
  align-self: center;
  margin-top: 3rem;
  color: #7d4f50;
}

.form-group {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 4rem 0rem;
}

.form-group input[type=text], .form-group input[type=password] {
  border-radius: 5px;
  width: 80%;
  border: none;
  padding: 10px;
  margin-bottom: 1rem;
}


.password-switch-group {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.password-input, .password-input-red {
  border-radius: 5px;
  width: 80%;
  border: none;
  padding: 10px;
  margin-bottom: 2rem;

}

.password-input-red {
  background-color: rgba(255, 168, 168, 0.68);
}

.password-toggle {
  display: flex;
  flex-direction: row;
  width: 80%;
  justify-content: flex-start;
  align-items: baseline;
  margin-bottom: 2rem;

}

.password, .text {
  width: fit-content;
  margin-right: 0.7rem;
}



.form-group button {
  border: none;
  width: 80%;
  padding: 10px;
  border-radius: 5px;
  color: white;
  background-color: #7d4f50;
}

.form-group button:disabled {
  background-color: #7d4f5080;
}




/* media */


@media only screen and (max-width: 1024px) {
  .authorization-container {
    min-height: 45vh;
    min-width: 55%;
  }

}

@media only screen and (max-width: 995px) {
  .col.work-card {
    max-width: 21%;
  }

  .authorization-container {
    min-height: 52vh;
    min-width: 56%;
  }
}

@media only screen and (max-width: 767px) {
  .col.work-card {
    max-width: 85%;
    margin: 2rem 0rem 0rem 2rem;
    border-bottom: none;
    border-right:  0.5px solid #e6dede;
  }

  .col-md.work-container {
    max-width: 85%;
    margin: 0rem 0rem 0rem 2rem;
    border-top: none;
    border-left: 0.5px solid #e6dede;
  }

  .authorization-container {
    min-height: 52vh;
    min-width: 56%;
  }

}

@media only screen and (max-width: 625px) {
  .col.work-card {
    max-width: 85%;
    margin: 2rem 0rem 0rem 2rem;
    border-bottom: none;
    border-right:  0.5px solid #e6dede;
  }

  .col-md.work-container {
    max-width: 85%;
    margin: 0rem 0rem 0rem 2rem;
    border-top: none;
    border-left: 0.5px solid #e6dede;
  }

}

@media only screen and (max-width: 575px) {
  .col.work-card {
    max-width: 74%;
    margin: 2rem 0rem 0rem 2rem;
    border-bottom: none;
    border-right:  0.5px solid #e6dede;
  }

  .col-md.work-container {
    max-width: 74%;
    margin: 0rem 0rem 0rem 2rem;
    border-top: none;
    border-left: 0.5px solid #e6dede;
  }
  
}

@media only screen and (max-width: 414px) {
  .col.work-card, .col-md.work-container {
    max-width: 80%;
  }

  .work-rate, .work-status-finished, .work-status-process, .work-date {
    text-align: left;
    margin: 0.3rem 0;
  }

  .svg-inline--fa {
    margin-left: 0;
  }

  .authorization-container {
    min-height: 70vh;
    min-width: 80%;
  }

}

@media only screen and (max-width: 375px) {
  .authorization-container {
    min-height: 70vh;
    min-width: 80%;
  }

  .form-group {
    margin: 2rem 0rem;
  }

  .login-header {
    font-size: 1.5rem;
  }
}

@media only screen and (max-width: 280px) {
  .login-header {
    font-size: 1.5rem;
  }
}



