@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500&display=swap');

$main-color:  #005C6E;
$secondary-color: #F0616E;
$tag-color: #F1F1E6;
$gradient-color: #EAFDFF;
$selected-color: #F99136;

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', 'Montserrat',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #f9eae1;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', 'Montserrat',
    monospace;
}

.error-message-main {
  display: flex;
  justify-content: space-between;
  width: 80%;
  color: #721c24;
  background-color: #f8d7da;
  padding: 15px 20px;
  border-radius: 7px;

  .error-text {
    font-size: 1.2rem;
  }
  .error-button {
    font-weight: bold;
  }
}


.success-message {
  color: #155724;
  background-color: #d4edda;
  border-color: #c3e6cb;
}


.navbar-container {
  display: flex;
  flex-direction: row;
  background-color: $main-color;
}

.navbar-light {
  background-color: $main-color !important;
}

.btn.btn-outline.my-2.my-sm-0{
  color: white;
  background-color: $secondary-color;
}


.navbar-light .navbar-brand {
  display: flex;
  color: #ffffff;
  height: 65px;
  width: 65px;
  border-radius: 50%;
  background-color: white;
  justify-content: center;
  align-items: center;
}

.navbar-img {
  color: $main-color;
  width: 45px;
  height: 45px;

}

ul {
  list-style-type: none;

  li {
    display: inline;
    padding: 1rem;
  }
}



a {
  
  text-decoration: none;
}

nav a {
  color: white;
  font-weight: 700;
}

nav a:hover {
  text-decoration: none;
  color:$secondary-color;
}


a:hover {
  text-decoration: none;
  color: #cc8b86;
}

.navbar-nav .selected {
  color: $secondary-color;
}

.nav-item:has(.selected) {
  color: $secondary-color;
}



// Footer

.footer-basic {
  padding:40px 0;
  background-color:$main-color;
  color:#ffffff;
  margin-top: 3rem;
}

.footer-basic ul {
  padding:0;
  list-style:none;
  text-align:center;
  font-size:18px;
  line-height:1.6;
  margin-bottom:0;
}

.footer-basic li {
  padding:0 10px;
}

.footer-basic ul a {
  color:inherit;
  text-decoration:none;
  opacity:0.8;
}

.footer-basic ul a:hover {
  opacity:1;
}

.footer-basic .social {
  text-align:center;
  padding-bottom:25px;
}

.footer-basic .social > a {
  font-size:24px;
  width:40px;
  height:40px;
  line-height:38px;
  display:inline-block;
  text-align:center;
  border-radius:50%;
  border:1px solid #ccc;
  margin:0 8px;
  color:inherit;
  opacity:0.75;
}

.footer-basic .social > a:hover {
  opacity:0.9;
}

.footer-basic .copyright {
  margin-top:15px;
  text-align:center;
  font-size:13px;
  color:#aaa;
  margin-bottom:0;
}




// Home page


.main-grid {
  display: grid;
  grid-template-columns: 2fr 5fr;
  width: 98%;
  margin-bottom: 2rem;
}

.fandom-categories-container {
  display: flex;
  flex-direction: column;
  width: 90%;
  margin-top: 3rem;
  padding-bottom: 2rem;
}

.fandom-category-header {
  color: #F0616E;
  margin-bottom: 2rem;
  margin-left: 2rem;
}

.fandom-category-item, .fandoms-by-category-container, .fandom-category-item-selected {
  margin-bottom: 1rem;
  margin-left: 2rem;
}


.fandom-category-item a {
  color: $main-color;
  font-weight: 700;
  font-size: 1.2rem;
}

.fandom-category-item-selected a {
  color: $selected-color;
  font-weight: 700;
  font-size: 1.2rem;
}

.fandom-by-category-item a {
  color: $main-color;
  font-weight: 500;
  font-size: 1.2rem;
}

.recent-works-container, .fandoms-list-container {
  margin-top: 3rem;
}

.works-by-date-container .work-container {
  margin: 1rem 5% 1rem 0;
}

.works-by-date-container .col-md.work-container {
  padding-left: 2.4rem;
}




// works list
.all-works-title, .works-in-fandom-title {
  color: $secondary-color;
  margin-top: 3rem;
  margin-left: 3rem;
}

.all-works-title {
  margin-bottom: 2rem;
}

.works-by-fandom-container {
  margin-top: 2rem;
}

.col.work-card {
  background-image: linear-gradient(to bottom, #eafdff, #f0fdff, #f7fdff, #fcfeff, #ffffff);
  margin: 1rem 0 1rem 5%;
  max-width: 13%;
  border: 0.5px solid #e6dede;
  border-right: none;
  border-bottom-left-radius: 13px;
  border-top-left-radius: 13px;

  .svg-inline--fa {
    border-radius: 18px;
    background-color: white;
    padding: 12px;
    margin-left: 77%;
    margin-top: 10px;
  }
}



.work-rate {
  font-size: 0.9rem;
  font-weight: 600;
  margin: 0.5rem 0 0.5rem 0;
  width: 100%;
  padding: 5px 0;
  
}

.work-status-finished {
  color: #55a630;
  margin-top: 1.2rem;
}

.work-status-process {
  color: #F0616E;
  margin-top: 1.2rem;
}

.work-date {
  margin: 1rem 0;
  font-size: 0.9rem;
}

.work-rate, .work-status-finished, .work-status-process, .work-date {
  text-align: right;
}



.col-md.work-container {
  padding-left: 25px;
  padding-top: 16px;

  .work-stat-list {
    display: flex;
    
    p {
      margin-right: 0.6rem;
    }
  }
}

.work-container {
  border: solid 1px #e6dede;
  border-left: none;
  padding: 0.5rem;
  margin: 1rem 20% 1rem 0;
  border-bottom-right-radius: 13px;
  border-top-right-radius: 13px;
}

.work-title {
  color: $main-color;
  a {
    color: $main-color;
    text-decoration: underline;
  }
}

.badge.relationship-and-character-tag {
  border-radius: 94px;
  background-color: $tag-color;
  padding: 8px 10px;
  margin-right: 5px;
  font-size: small;
}

.badge-pill {
  background-color: #F1F1E6;
  margin-right: 5px;
  padding-top: 0.1em;
  padding-bottom: 0.2em;
}

.work-description {
  border-bottom: dashed 0.5px #aa998f;
  margin-bottom: 1rem;
  padding-bottom: 0.7rem;
  margin-top: 1rem;

}

.work-container p {
  font-weight: 500;
}


// work main page

.row.work-information-card {
  margin: 2rem;
  .badge {
    font-size: larger;
    margin-right: 5px;
  }
  .work-description {
    margin-top: 2rem;
    margin-bottom: 0;  
  }

}

.fandoms-p {
  margin-top: 1rem;
}

.row.work-content {
  margin: 2rem;
  
  a {
    color: $main-color;
  }
}

.information-container {
  width: 75%;
  
}


.work-title-container {
  display: flex;
  justify-content: space-between;
  
  a {
    color: $main-color;
  }
}

// categories

.gen{
  background-color: #e8d7f9;
  font-size: large;
}

.ff {
  background-color: #ffe5e4;
}

.fm {
  background-color: #e4ffd7;
}

.mm {
  background-color: #dae8ff;
}

.multy {
  background-color: #fff2d0;
}

.other {
  background-color: #f1f5ff;
}



// rates

.not-rated {
  background-color: #eddcd2;
}

.general-audiences {
  background-color: #92ec00;
}

.teen-up {
  background-color: #ffee21;
}

.mature {
  background-color: #ffa175;
}

.explicit {
  background-color: #f72011;
}

.badge.work-status-finished {
  color: #55a630;
  background-color: #f0efeb;
}

.badge.work-status-process {
  color: #99170e;
  background-color: #f0efeb;
  font-size: large;
}


.fa-2x {
  font-size: 1.2rem;
}

.d-flex {
  margin-top: 2rem;
}

// chapter

.btn.next {
  background-color: $main-color;
  color: white;
  margin: 1rem;
    a {
      color: white;
      text-decoration: none;
      display: inline-block;
      z-index: 1;
      margin: -0.5rem;
      padding: 0.5rem;
    }
}

.chapter-text {
  margin-left: 10%;
  margin-right: 5%;
  padding-top: 1.5rem;
  
}


// Profile

.user-info-container {
  display: flex;
  padding: 1rem;
  margin: 2rem;
  box-shadow: 4px 4px 10px rgba(122, 122, 122, 0.2);

}

.user-pic {
  border: $main-color 3px solid;
  width: 85px;
  height: 85px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 2rem;
}


.user-info {
  display: flex;
  flex-direction: column;
  margin-left: 2rem;
}

.user-img {
  width: 55px;
  height: 55px;
}


// Authorization

.main {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.authorization-container {
  display: flex;
  flex-direction: column;
  min-height: 65vh;
  min-width: 35%;
  background-color: $main-color;
  box-shadow: 6px 6px 20px rgba(122, 122, 122, 0.9);
  border-radius: 5px;
}

.login-header {
  align-self: center;
  margin-top: 3rem;
  color: #ffffff;
}

.form-group {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 4rem 0rem;
}

.form-group input[type=text], .form-group input[type=password] {
  border-radius: 5px;
  width: 80%;
  border: none;
  padding: 10px;
  margin-bottom: 1rem;
}


.password-switch-group {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.password-input, .password-input-red {
  border-radius: 5px;
  width: 80%;
  border: none;
  padding: 10px;
  margin-bottom: 2rem;

}

.password-input-red {
  background-color: rgba(255, 168, 168, 0.68);
}

.password-toggle {
  display: flex;
  flex-direction: row;
  width: 80%;
  justify-content: flex-start;
  align-items: baseline;
  margin-bottom: 2rem;
    label {
      color: white;
    }
}

.password, .text {
  width: fit-content;
  margin-right: 0.7rem;
}



.form-group button {
  border: none;
  width: 80%;
  padding: 10px;
  border-radius: 5px;
  color: white;
  background-color: $secondary-color;
}

.form-group button:disabled {
  background-color: #7d4f5080;
}

.form-group button:focus {
  outline: none;
}



/* add work */

.add-work-title, .add-chapter-title {
  margin-top: 3rem;
  color: $secondary-color;
}

.add-work-container, .add-work-title, .add-chapter-container, .add-chapter-title {
  margin-left: 6rem;
}

.add-work-form-group, .add-chapter-form-group {
  display: flex;
  flex-direction: column;
  margin-top: 3rem;
  margin-bottom: 8rem;
}

.form-field {
  margin-bottom: 2rem;
}

.add-chapter-form-group .form-field {
  width: 70%;
}

.form-field input {
  width: 45%;
  min-height: 3rem;
  border: solid 1px black;
  border-radius: 4px;
  border-color: hsl(0, 0%, 80%);
  padding: 5px 10px;
}

.form-field textarea {
  width: 45%;
  min-height: 10rem;
  border-radius: 4px;
  border-color: hsl(0, 0%, 80%);
  padding: 5px 10px;;
}

.options-list {
  width: 45%;
  margin-bottom: 2rem;
}

.is-completed {
  display: flex;
  align-items: baseline;
}

.is-completed input {
  margin-left: 0.7rem;
}

.add-work-form-group h5, .add-chapter-form-group h5 {
  color: $main-color;
}

.work-stat {
  display: flex;
  margin-bottom: 2rem;

  .svg-inline--fa.fa-w-12 {
    margin-right: 0.2rem;
  }

}

.add-work-form-group button, .add-chapter-form-group button, .add-new-work, .add-new-chapter, .edit-work, .edit-chapter, .delete-button, .like-button, .bookmark-button {
  border: none;
  width: 40%;
  padding: 10px;
  margin-top: 2rem;
  border-radius: 5px;
  color: white;
  background-color: $secondary-color;
}

.add-work-form-group button:focus, .add-chapter-form-group button:focus, .add-new-work:focus, .add-new-chapter:focus, .edit-work:focus, .edit-chapter:focus, .delete-button:focus, .like-button:focus, .bookmark-button:focus {
  outline: none;
}

.add-chapter-form-group button {
  width: 25%;
}

.edit-work, .delete-button, .like-button, .bookmark-button {
  width: fit-content;
  margin-top: 0;
  background-color: white;
  color: $main-color;
}


.edit-work:hover, .delete-button:hover {
  color: $selected-color;

  .svg-inline--fa.fa-w-16 {
    color: $selected-color;
  }
  .svg-inline--fa.fa-w-14 {
    color: $selected-color;
  }
}

.svg-inline--fa.fa-w-16, .svg-inline--fa.fa-w-14 {
  margin-right: 4px;
}

.add-new-chapter, .edit-chapter {
  background-color: white;
  color: $main-color;
  padding: 4px 8px 4px 0px;
}

.add-new-work, .add-new-chapter {
  width: 100%;
  margin-top: 1rem;
}

.edit-work, .delete-button {
  padding: 4px 8px;
}


.add-new-work:hover{
  background-color: $selected-color;
}

.add-new-chapter a, .edit-work a, .edit-chapter a {
  color: $main-color;
}

.add-new-work a {
  color: white;
}

.add-new-chapter:hover {
  color: $selected-color;
  background-color: white;

   a .svg-inline--fa.fa-w-14 {
     color: $selected-color;
   }
}

.add-new-chapter a:hover, .edit-work a:hover {
  text-decoration: none;
  color: $selected-color;
}

.edit-chapter {
  width: max-content;
  margin-left: 10%;
}

.edit-chapter:hover {
  color: $selected-color;
  background-color: white;

    a .svg-inline--fa.fa-w-16 {
      color: $selected-color;
    }
}

.edit-chapter a:hover {
  text-decoration: none;
  color: $selected-color;
}

.add-new-work a:hover {
  text-decoration: none;
  color: white;
}


.add-work-form-group button:disabled, .add-chapter-form-group button:disabled {
  background-color: #7d4f5080;
}

/* Popup window */

.popup-content {
  margin: auto;
  background: $main-color;
  width: 50%;
  padding: 5px;
}

.popup-overlay {
  background: rgba(0, 0, 0, 0.5);
}

.modal-message {
  background-color: $main-color;
  text-align: center;
  margin: 1rem;
  color: white;
}

.actions {
  text-align: center;
  margin-bottom: 1rem;
}

.modal-button {
  border: none;
  width: 20%;
  padding: 10px;
  margin-top: 1rem;
  border-radius: 5px;
  color: white;
  background-color: $secondary-color;
  margin-right: 1rem;
}

.modal-button:hover {
  background-color: $selected-color;
  color: white;
}

.modal-button:focus {
  outline: none;
}

/* Bookmarks */

.bookmarks-list-container > h3 {
    margin: 2rem 0 2rem 3rem;
}


/* Pagination */

.pagination-container {
  margin-left: 1.5rem;
}
/* all works */
.all-works-main {
  margin-top: 3rem;

  h3 {
    margin-left: 3rem;
    margin-bottom: 1rem;
  }
}





/* media */


@media only screen and (max-width: 1024px) {
  .authorization-container {
    min-height: 45vh;
    min-width: 55%;
  }

  /* add work and chapter */

  .form-field input, .form-field textarea {
    width: 65%;
  }

  .options-list {
    width: 65%;
  }

}

@media only screen and (max-width: 995px) {
  .col.work-card {
    max-width: 21%;
  }

  .authorization-container {
    min-height: 52vh;
    min-width: 56%;
  }

  /* add work and chapter */

  .form-field input, .form-field textarea {
    width: 85%;
  }

  .options-list {
    width: 85%;
  }

  .add-chapter-form-group .form-field {
    width: 90%;
}
}

@media only screen and (max-width: 767px) {
  .col.work-card {
    max-width: 85%;
    margin: 2rem 0rem 0rem 2rem;
    border-bottom: none;
    border-right:  0.5px solid #e6dede;
    border-top-right-radius: 13px;
    border-bottom-left-radius: 0;
  }

  .col-md.work-container {
    max-width: 85%;
    margin: 0rem 0rem 0rem 2rem;
    border-top: none;
    border-left: 0.5px solid #e6dede;
    border-top-right-radius: 0;
    border-bottom-left-radius: 13px;
  }

  .badge.relationship-and-character-tag {
    margin-bottom: 5px;
  }
  
  .col.work-card .svg-inline--fa {
    margin-left: 0;
  }

  .work-rate, .work-status-finished, .work-status-process, .work-date {
    text-align: left;
  }
  

  .authorization-container {
    min-height: 52vh;
    min-width: 56%;
  }

  /* add work and chapter */

  .form-field input {
    width: 60%;
  }

  .add-work-container, .add-work-title, .add-chapter-container, .add-chapter-title {
    margin-left: 2rem;
  }


}

@media only screen and (max-width: 625px) {
  .col.work-card {
    max-width: 85%;
    margin: 2rem 0rem 0rem 2rem;
    border-bottom: none;
    border-right:  0.5px solid #e6dede;
  }

  .col-md.work-container {
    max-width: 85%;
    margin: 0rem 0rem 0rem 2rem;
    border-top: none;
    border-left: 0.5px solid #e6dede;
  }

}

@media only screen and (max-width: 575px) {
  .main-grid {
    width: 95%;
    grid-template-columns: 1fr;
  }
  .col.work-card {
    max-width: 74%;
    margin: 2rem 0rem 0rem 2rem;
    border-bottom: none;
    border-right:  0.5px solid #e6dede;
    border-top-right-radius: 13px;
    border-bottom-left-radius: 0;
  }

  .col-md.work-container {
    max-width: 74%;
    margin: 0rem 0rem 0rem 2rem;
    border-top: none;
    border-left: 0.5px solid #e6dede;
    border-top-right-radius: 0;
    border-bottom-left-radius: 13px;
  }
  
}

@media only screen and (max-width: 414px) {
  .col.work-card, .col-md.work-container {
    max-width: 80%;
  }

  .work-rate, .work-status-finished, .work-status-process, .work-date {
    text-align: left;
    margin: 0.3rem 0;
  }

  .svg-inline--fa {
    margin-left: 0;
  }

  .authorization-container {
    min-height: 70vh;
    min-width: 80%;
  }

}

@media only screen and (max-width: 375px) {
  .authorization-container {
    min-height: 70vh;
    min-width: 80%;
  }

  .form-group {
    margin: 2rem 0rem;
  }

  .login-header {
    font-size: 1.5rem;
  }
}

@media only screen and (max-width: 280px) {
  .login-header {
    font-size: 1.5rem;
  }

  .works-by-date-container .col-md.work-container {
    padding-left: 1rem;
}

  .fandom-category-header {
    margin-left: 1rem;
  }

  .recent-works-container {
    margin-top: 1rem;
  }

}



